<div style="float: left; width: 70%; border: 5px solid #bfbfbd; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; padding: 10px; padding-left: 20px; margin-top: 10px; margin-bottom: 10px;">
    <div ng-repeat="user in users">
        <div style="margin-bottom: 10px;" class="row">
            <div class="col-lg-2 col-sm-2 col-md-2">Name</div>
            <div class="col-lg-5 col-sm-5 col-md-5">
                <input style="border: {{user.invalidFirstName ? '1px solid red' : ''}}" class="form-control" placeholder="First Name" ng-model="user.firstName">
                <em style="color : red" ng-show="user.invalidFirstName">Invalid first name</em>
            </div>
            <div class="col-lg-5 col-sm-5 col-md-5">
                <input style="border: {{user.invalidLastName ? '1px solid red' : ''}}" class="form-control" placeholder="Last Name" ng-model="user.lastName">
                <em style="color : red" ng-show="user.invalidLastName">Invalid last name</em>
            </div>
        </div>
        <div style="margin-bottom: 10px;" class="row">
            <div class="col-lg-2 col-sm-2 col-md-2">Email Address</div>
            <div class="col-lg-10 col-sm-10 col-md-10">
                <input style="border: {{user.invalidEmail ? '1px solid red' : ''}}" class="form-control" placeholder="name@domain.com" ng-model="user.emails[0]">
                <em style="color : red" ng-show="user.invalidEmail">Invalid email</em>
            </div>
        </div>
        <div style="margin-bottom: 10px;" class="row">
            <div class="col-lg-2 col-sm-2 col-md-2">Company</div>
            <div class="col-lg-10 col-sm-10 col-md-10">
                <input class="form-control" placeholder="name@domain.com" ng-model="user.emails[0]">
            </div>
        </div>
        <div style="margin-bottom: 10px;" class="row">
            <div class="col-lg-2 col-sm-2 col-md-2">Group</div>
            <div class="col-lg-10 col-sm-10 col-md-10">
                <select style="border: {{user.invalidType ? '1px solid red' : ''}}" ng-model="user.type" class="form-control">
                    <option value=""></option>
                    <option value="Attorney">Client</option>
                    <option value="Paralegal">Co-counsel</option>
                    <option value="Staff">Expert</option>
                    <option value="Staff">Judge</option>
                </select>
                <em style="color : red" ng-show="user.invalidType">Select user type</em>
            </div>
        </div>
        <hr/>


        <div class="row">
            <div class="col-lg-3 col-sm-3 col-md-3"><h4>Phone Number</h4></div>
            <div class="col-lg-6 col-sm-6 col-md-6"><h4>Address</h4></div>
            <div class="col-lg-3 col-sm-3 col-md-3"><h4>Other Information</h4></div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-3 col-md-3">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-ms-2">Home</div>
                    <div class="col-lg-10 col-md-10 col-ms-10"><input class="form-control"></div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6">
                <input class="form-control" placeholder="Street">
            </div>
            <div class="col-lg-3 col-sm-3 col-md-3">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-ms-4">Birthday</div>
                    <div class="col-lg-8 col-md-8 col-ms-8"><input class="form-control" type="date"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-3 col-md-3">
                <div class="row">
                    <div class="col-lg-2 col-md-2 col-ms-2">Word</div>
                    <div class="col-lg-10 col-md-10 col-ms-10"><input class="form-control"></div>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 col-md-6">
                <input class="form-control" placeholder="Apt/Unit">
            </div>
            <div class="col-lg-3 col-sm-3 col-md-3">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-ms-4">Licence</div>
                    <div class="col-lg-5 col-md-5 col-ms-5"><input class="form-control" placeholder="Number"></div>
                    <div class="col-lg-3 col-md-3 col-ms-3"><input class="form-control" placeholder="State"></div>
                </div>
            </div>
        </div>

        <hr/>
        <hr/>


    </div>
    <div >
        <button ng-click="createUsers()" class="btn btn-success">save</button>
    </div>
</div>
<a style="cursor:pointer;" ng-click="addAnotherUser()"><span class="glyphicon glyphicon-plus"></span>Add Another Contact</a>
