<div style="float: left; width: 50%; border: 5px solid #bfbfbd; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; padding: 10px; padding-left: 20px; margin-top: 10px; margin-bottom: 10px;">
    <div ng-repeat="contact in contacts">
        <div style="margin-bottom: 10px;" class="row">
            <div class="col-lg-2 col-sm-2 col-md-2">Name</div>
            <div class="col-lg-5 col-sm-5 col-md-5">
                <input style="border: {{contact.invalidFirstName ? '1px solid red' : ''}}" class="form-control" placeholder="First Name" ng-model="contact.firstName">
                <em style="color : red" ng-show="contact.invalidFirstName">Invalid first name</em>
            </div>
            <div class="col-lg-5 col-sm-5 col-md-5">
                <input style="border: {{contact.invalidLastName ? '1px solid red' : ''}}" class="form-control" placeholder="Last Name" ng-model="contact.lastName">
                <em style="color : red" ng-show="contact.invalidLastName">Invalid last name</em>
            </div>
        </div>
        <div style="margin-bottom: 10px;" class="row">
            <div class="col-lg-2 col-sm-2 col-md-2">Email</div>
            <div class="col-lg-10 col-sm-10 col-md-10">
                <input style="border: {{contact.invalidEmail ? '1px solid red' : ''}}" class="form-control" placeholder="name@domain.com" ng-model="contact.emails[0]">
                <em style="color : red" ng-show="contact.invalidEmail">Invalid email</em>
            </div>
        </div>
        <div style="margin-bottom: 10px;" class="row">
            <div class="col-lg-2 col-sm-2 col-md-2">Company</div>
            <div class="col-lg-10 col-sm-10 col-md-10">
                <input style="border: {{contact.invalidCompany ? '1px solid red' : ''}}" class="form-control" placeholder="Company's full legal name" ng-model="contact.company">
                <em style="color : red" ng-show="contact.invalidCompany">Please enter this contact's company.</em>
            </div>
        </div>
        <div style="margin-bottom: 10px;" class="row">
            <div class="col-lg-2 col-sm-2 col-md-2">Type</div>
            <div class="col-lg-10 col-sm-10 col-md-10">
                <select style="border: {{contact.invalidType ? '1px solid red' : ''}}" ng-model="contact.type" class="form-control">
                    <option value="Attorney">Client</option>
                    <option value="Paralegal">Co-counsel</option>
                    <option value="Staff">Expert</option>
                    <option value="Staff">Judge</option>
                </select>
                <em style="color : red" ng-show="contact.invalidType">Please choose a type</em>
            </div>
        </div>
        <hr/>



        <div class="row">
            <div class="col-lg-3 col-sm-3 col-md-3"><h4>Phone Number</h4></div>
            <div class="col-lg-6 col-sm-6 col-md-6"><h4>Address</h4></div>
        </div>
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-lg-3 col-sm-3 col-md-3">
                <input ng-keydown="parsePhoneNumber( $event, contact.phones[0].value )" class="form-control" placeholder="Work" ng-model="contact.phones[0].value" value="{{contact.phones[0].value | phone"}}>
                {{contact.phones[0].value | phone}}
            </div>
            <div class="col-lg-7 col-sm-7 col-md-7">
                <input class="form-control" placeholder="Street" ng-model="contact.street">
            </div>
            <div class="col-lg-2 col-sm-2 col-md-2">
                <input class="form-control" placeholder="Apt/Unit" ng-model="contact.unit">
            </div>
        </div>
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-lg-3 col-sm-3 col-md-3">
                <input ng-keydown="parsePhoneNumber( $event, contact.phones[1].value )" class="form-control" placeholder="Cell" ng-model="contact.phones[1].value">
                {{contact.phones[1].value | phone}}
            </div>
            <div class="col-lg-5 col-sm-5 col-md-5">
                <input class="form-control" placeholder="City" ng-model="contact.city">
            </div>
            <div class="col-lg-2 col-sm-2 col-md-2">
                <input class="form-control" placeholder="State" ng-model="contact.state">
            </div>
            <div class="col-lg-2 col-sm-2 col-md-2">
                <input class="form-control" placeholder="Zip" ng-model="contact.zip">
            </div>
        </div>
        <hr/>
        <h4>Other Information</h4>
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-lg-2 col-md-2 cold-sm-2">Birthday</div>
            <div class="col-lg-5 col-md-5 cold-sm-5"><input class="form-control" type="date" ng-model="contact.birthday"></div>
        </div>
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-lg-2 col-md-2 cold-sm-2">License</div>
            <div class="col-lg-3 col-md-3 cold-sm-3"><input class="form-control" placeholder="Number" ng-model="contact.licenseNumber"></div>
            <div class="col-lg-2 col-md-2 cold-sm-2"><input class="form-control" placeholder="State" ng-model="contact.licenseState"></div>
        </div>
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-lg-2 col-md-2 cold-sm-2">Website</div>
            <div class="col-lg-5 col-md-5 cold-sm-5"><input class="form-control" placeholder="Website" ng-model="contact.website"></div>
        </div>

        <hr/>
        <hr/>


    </div>
    <div >
        <button ng-click="createContacts()" class="btn btn-success">save</button>
    </div>
</div>
<a style="cursor:pointer;" ng-click="addAnotherContact()"><span class="glyphicon glyphicon-plus"></span>Add Another Contact</a>
